/**
 * The styling for the login page.
 * @author Team point.
 */

/* ========== ========== ========== ========== */

.login-area {
  margin-top: 50px;
  max-width: 500px;
  width: 80%;
}

.login-area input {
  margin-top: 15px;
  margin-bottom: 15px;
}

.login-button {
  width: 40vw;
}
