/**
 * The default styling for the website.
 * @author Team point.
 */

/** Import The Default Typography Fonts */
@import url('/public/css/fonts.css');

/** Import The Global Variables. */
@import 'variables';

/* ========== ========== ========== ========== */

/**
 * General Layout.
 */

* {
  box-sizing: border-box;
}

blockquote, body, dd, dl,
figure, h1, h2, h3, h4,
h5, h6, ol, p, pre, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.coloredlinks a {
  color: $primary-color;
}

.coloredlinks a:hover {
  color: darken($primary-color, 10%);
}

:root {
  overflow-x: hidden;
  height: 100%;
}

body {
  background: #fff;
  min-height: 100%;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.2px;
  font-family: proximanova-regular, Helvetica, Arial, sans-serif;
}

.center {
  text-align: center;
}

/**
 * Default Header.
 * @uses views/Template/header-bar
 */

#header-logo {
  font-size: 30px;
  font-family: Whitney, Helvetica, Arial, sans-serif;
  color: #474d50;
  margin-top: 3px;
  margin-right: 30px;
}
