/**
 * The default styling for the website.
 * @author Team point.
 */

/** Import The Default Typography Fonts */
@import url('/public/css/fonts.css');

/** Import The Global Variables. */
@import 'variables';

/* ========== ========== ========== ========== */

/**
 * General Layout.
 */

* {
  box-sizing: border-box;
}

blockquote, body, dd, dl,
figure, h1, h2, h3, h4,
h5, h6, ol, p, pre, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  overflow-x: hidden;
  height: 100%;
}

body {
  background: #fff;
  min-height: 100%;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.2px;
  font-family: $font-regular;
}

/**
 * Default Footer.
 * @uses views/Template/footer-bar
 */
