/**
 * The styling for the register page.
 * @author Team point.
 */
/** Import The Global Variables. */
@import 'variables';
/* ========== ========== ========== ========== */
.register-area {
    margin-top: 50px;
    max-width: 500px;
    width: 80%;
}

.register-area input {
    margin-bottom: 15px;
}

.register-submit {
    margin-top: 15px;
}
