/**
 * The styling for the messages page.
 * @author Team point.
 */

/** Import The Global Variables. */

@import 'variables';
/* ========== ========== ========== ========== */

/******************************************************
 * Main Styling/Resets
 ******************************************************/

/* Set background color */
body {
  background: #f2f5f7;
}

::-webkit-scrollbar {
    display: block;
}

/* Reset main margins */
.main {
    margin-top: 17px;
    margin-bottom: 70px;
}

/******************************************************
 * Main Message Area Styling
 ******************************************************/

/* Styling for the main message area. */
#message-area-content {
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  border-top: 8px solid #343c40;
  border-radius: 4px;
}

/* Main Content Area Row */
#middle-section {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

@media only screen and (max-width: 768px){
  #middle-section {
    display: block;
  }
}

/******************************************************
 * Recent Conversations
 ******************************************************/

/* Recent Conversation Header Area. */
#recent-conversation-area {
    padding: inherit;
    box-shadow: 5px 1px 5px -5px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

/* Recent Conversation Area Element Styling. */
#recent-conversation-area {

  /* Section Title. */
  h1 {
    color: #adadad;
    font-size: 17px;
    padding-top: 25px;
    padding-bottom: 19px;
    text-align: center;
    letter-spacing: -0.2px;
    -webkit-font-smoothing: antialiased;
  }

  /* The Open Chat */
  #active-chat {
    border: none;
    border-left: 2px solid #b7dcb5;
    position: relative;
    right: 0px;
    top: 1px;
    padding: 19px 10px 10px 22px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.14);
    border-radius: 1px;
  }

}

/* The recent conversations on the sidebar desktop/mobile. */
.recent-conversation {
  border-top: 1px solid #eee;
  background-color: #fff;
  display: inline-block;
  padding: 16px 5px 10px 22px;
  width: 100%;
}

/* Recent Conversation element styling. */
.recent-conversation {

  /* Wrapper For The Conversation Details */
  #conversation-details {
    display: inherit;
  }

  #profile-image-wrapper {
    display: inline-grid;
  }

  /* Profile Image */
  #profile-image {
    width: 42px;
    height: auto;
    border-radius: 100px;
    box-shadow: inset 0px 0px 37px rgba(0,0,0,0.18);
  }

  /* Users Conversation Name */
  #fullname {
    font-size: 13px;
    letter-spacing: 0.7px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    color: #626673;
    position: relative;
    bottom: 3px;
    left: 6px;
  }

  /* Post Tag Beside Related Post Name */
  #post {
    font-size: 12px;
    color: #dcdde0;
    letter-spacing: 0.4px;
    position: relative;
    bottom: 8px;
    left: 6px;
    -webkit-font-smoothing: antialiased;
  }

  /* Post Name Attached To Convo */
  #related-post-name {
    font-size: 12px;
    color: #a4a4a5;
    letter-spacing: 0.4px;
    position: relative;
    bottom: 8px;
    left: 5px;
    -webkit-font-smoothing: antialiased;
  }

}

/* Where The Current Conversations Messages Are Displayed */
#messaging-area {
  background: #fafafa;
  padding: 20px 30px;
  overflow-y: scroll;
  font-size: 14px;
}

#messaging-area::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.02);
}

#messaging-area::-webkit-scrollbar {
    width: 8px;
}

#messaging-area::-webkit-scrollbar-thumb {
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.05);
}

/* Fill Message Area Completely With Messages. */
#messages {
  height: 100%;
}

/* Styling For A Messages Elements. */
.message {

  /* Spacing between sent messages. */
  margin-bottom: 15px;

  /* Message From User Styling */
  .from {
    background: #e8eaf0;
    border-radius: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  /* Triangle Icon Pointing From User Who Sent Message. */
  .from .ss-icon {
    position: absolute;
    margin-left: -12px;
    display: inline-flex;
    color: #e8eaf0;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(91deg);
    font-size: 15px;
  }

  /* The Text of The From Message. */
  .from .text {
    display: inline-block;
    color: #9098ad;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Message To User Styling */
  .to {
    margin-left: auto;
    background: #4c5a61;
    border-radius: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 15px;
  }

  /* Triangle Icon Pointing To User Who Sent Message. */
  .to .ss-icon {
    position: absolute;
    display: inline-flex;
    color: #4c5a61;
    right: 19px;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(-91deg);
    font-size: 15px;
  }

  /* The Text Of The Message. */
  .to .text {
    display: inline-block;
    color: #fefefe;
    padding-left: 15px;
    padding-right: 15px;
  }

}

/* Fix For When Using Mobile. */
@media only screen and (max-width: 992px){
  .message .message-size {
    width: 100% !important;
  }
}

/* Beginning Of Conversation Text. */
#start-of-conversation p {
  text-align: center;
  font-size: 12.4px;
  font-family: proximanova-light;
  letter-spacing: 0.5px;
  color: #d2d6dc;
  border-bottom: 1px dashed #f2f2f2;
  padding-bottom: 7px;
  margin-bottom: 12px;
}

/* Current Chat Window Open. */
#current-chat {
  border-left: 1px solid #f7f7f7;
  padding-left: 0;
}

#create-message-area {
  height: 45px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

#create-message-input {
  outline: none !important;
  color: #a9afb1;
  background: #fff !important;
  box-shadow: none !important;
  padding-left: 8px;
  width: 100%;
  font-size: 13px;
  font-family: proximanova-light;
  letter-spacing: 0.6px;
  height: 43px;
  padding-top: 3px;
}

/* Wrapper For The Send Button */
#send-wrapper {
  text-align: center;
  padding-top: 13px;
}

/* Send Button Design. */
#send-message-button {
  text-decoration: none;
  font-size: 14.5px;
  color: #50ba4a;
  letter-spacing: 0.6px;
  -webkit-transition: all 0.3s ease;
}

/* Send Button Design. */
#send-message-button:hover {
  color: #fff;
}
