/**
 * The styling for the messages page.
 * @author Team point.
 */

/** Import The Global Variables. */

@import 'variables';
/* ========== ========== ========== ========== */

/******************************************************
 * Main Styling/Resets
 ******************************************************/

/* Set background color */
body {
  background: #f2f5f7;
}

/* Reset main margins */
.main {
    margin-top: 5px;
    margin-bottom: 70px;
}

/******************************************************
 * Main Message Area Styling
 ******************************************************/

/* Styling for the main message area. */
#message-area-content {
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Styling for the message area header */
#message-area-header {
  font-family: $font-semibold;
  letter-spacing: 0.9px;
  background: -moz-linear-gradient(262deg, rgba(52,60,64,1) 0%, rgba(23,23,23,1) 71%, rgba(23,23,23,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(52,60,64,1)), color-stop(71%, rgba(23,23,23,1)), color-stop(100%, rgba(23,23,23,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(262deg, rgba(52,60,64,1) 0%, rgba(23,23,23,1) 71%, rgba(23,23,23,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(262deg, rgba(52,60,64,1) 0%, rgba(23,23,23,1) 71%, rgba(23,23,23,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(262deg, rgba(52,60,64,1) 0%, rgba(23,23,23,1) 71%, rgba(23,23,23,1) 100%); /* ie10+ */
  background: linear-gradient(188deg, rgba(52,60,64,1) 0%, rgba(23,23,23,1) 71%, rgba(23,23,23,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343c40', endColorstr='#171717',GradientType=0 ); /* ie6-9 */
  color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  margin-top: 23px;
  padding: 14px 20px 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
}

/******************************************************
 * Recent Conversations
 ******************************************************/

/* Recent Conversation Header Area. */
#recent-conversation-area {
    padding: inherit;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

/* Recent Conversation Area Element Styling. */
#recent-conversation-area {

  /* Section Title. */
  h1 {
    color: #adadad;
    font-size: 17px;
    padding-top: 25px;
    padding-bottom: 19px;
    text-align: center;
    letter-spacing: -0.2px;
    -webkit-font-smoothing: antialiased;
  }

}

/* The recent conversations on the sidebar desktop/mobile. */
.recent-conversation {
  border-top: 1px solid #eee;
  background-color: #fff;
  display: inline-block;
  padding: 16px 5px 10px 22px;
  width: 100%;
}

/* Recent Conversation element styling. */
.recent-conversation {

  /* Wrapper For The Conversation Details */
  #conversation-details {
    display: inherit;
  }

  #profile-image-wrapper {
    display: inline-grid;
  }

  /* Profile Image */
  #profile-image {
    width: 42px;
    height: auto;
    border-radius: 100px;
  }

  /* Users Conversation Name */
  #fullname {
    font-size: 13px;
    letter-spacing: 0.7px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    color: #626673;
    position: relative;
    bottom: 2px;
    left: 5px;
  }

  /* Last Sent Message */
  #related-post {
    font-size: 12px;
    color: #abaeaf;
    letter-spacing: 0.4px;
    position: relative;
    bottom: 7px;
    left: 5px;
    -webkit-font-smoothing: antialiased;
  }

}
