/**
 * The styling for the home logged in page.
 * @author Team point.
 */
/** Import The Global Variables. */
@import 'variables';
/* ========== ========== ========== ========== */

body {
    background: #f2f5f7;
}

.main {
    margin-bottom: -3px;
    margin-top: 0;
    background: transparent;
    background: url("/public/assets/images/food-background.svg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.main .container {
    border-radius: 3px;
    background: #fff;
}

.post {
    // THIS CLASS IS MODIFIED BY POST-RESIZE.JS
}

#find-food {
  padding-top: 53px;
  padding-bottom: 40px;
  font-size: 36px;
  color: #91a097;
  letter-spacing: 0.7px;
}

#find-food #finding {
  font-family: proximanova-semibold;
  font-size: 39px;
  color: #50ba4a;
  padding: 0 2px;
}

#find-food #or {
  letter-spacing: -0.4px;
}

#find-food #listing {
  font-family: proximanova-bold;
  letter-spacing: 0.5px;
  font-size: 39px;
  color: #50ba4a;
  padding: 0 2px;
}

.thumbnail {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.thumbnail .caption {
  padding: 17px 19px 11px 19px;
  color: #333;
}

.thumbnail img {
  border-top: 8px solid #343c40;
  display: block;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  height: 200px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.lead-title {
    margin-left: 30px;
}

.view-btn {
    font-family: proximanova-bold, Helvetica, Arial, sans-serif;
    margin-top: -7px;
    padding: 8px 14px 7px;
    background-color: #50ba4a;
    color: #fff;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.divider {
    height: 1px;
    width: 50px;
    background-color: #eee;
    margin-bottom: 10px;
}

.stats-text {
    color: #adadad;
    font-family: proximanova-regularitalic;
}

.description {
    color: #7b7b7b;
    line-height: 19px;
    font-size: 14px;
    padding-bottom: 5px;
}

.title {
    padding-top: 0;
    padding-bottom: 6px;
    font-size: 17px;
    font-family: proximanova-semibold;
    text-transform: capitalize;
}
// hack stuff starts here
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .grid-item {
        width: 82vw;
        margin-left: 15px;
        margin-right: 15px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .grid-item {
        width: 84vw;
        margin-left: 15px;
        margin-right: 15px;
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .grid-item {
        width: 44vw;
        margin-left: 15px;
        margin-right: 15px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .grid-item {
        width: 37vw;
        margin-left: 15px;
        margin-right: 15px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .grid-item {
        width: 25vw;
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* Justins CSS */

#search-bar-area {
  font-family: proximanova-semibold, Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
  background: #343c40;
  color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  font-size: 25px;
  border-bottom: 7px solid #94d890;
}

input[name=search-2] {
  color: $primary-color !important;
  font-size: 19px !important;
}

.main-search {
  display: block !important;
  padding-left: 40px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 13px;
  border-radius: 35px !important;
  outline-color: transparent;
  outline-style: none;
  box-shadow: inset 0 1px 15px rgba(0, 0, 0, 0.2) !important
}

.thumbnail {
  padding: 0;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.1);
}

#drop-down-menu {
  text-align: left;
  padding: 0;
  padding-left: 5px;
  padding-top: 11px;
}

#drop-down-menu a {
  text-decoration: none;
  color: #fff;
}

#drop-down-menu span {
  color: #9e9e9e;
  font-size: 27px;
}

.listings {
  background: #fff;
}

#listing-rows {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08);
  padding-top: 50px;
  padding-bottom: 37px;
}

#user-post-profile-image {
  border-top: none;
  border-radius: 100px;
  height: 44px;
  width: 44px;
  display: inline;
  float: right;
  position: relative;
  bottom: 14px;
  right: 11px;
}

.thumbnail a {
  color: inherit !important;
  text-decoration: none;
  transition: all .3s ease;
}

.thumbnail a:hover {
  opacity: 0.6;
}
