/**
 * The styling for the messages page.
 * @author Team point.
 */
/** Import The Global Variables. */
/**
 * Global scss variables.
 * @author Team point.
 */
/* ========== ========== ========== ========== */
/** Primary Colours. */
/** Typography Styling. */
/* ========== ========== ========== ========== */
/******************************************************
 * Main Styling/Resets
 ******************************************************/
/* Set background color */
body {
  background: #f2f5f7; }

/* Reset main margins */
.main {
  margin-top: 17px;
  margin-bottom: 70px; }

/******************************************************
 * Main Message Area Styling
 ******************************************************/
/* Styling for the main message area. */
#message-area-content {
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  border-top: 8px solid #343c40;
  border-radius: 4px; }

/* Main Content Area Row */
#middle-section {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex; }

@media only screen and (max-width: 768px) {
  #middle-section {
    display: block; } }
/******************************************************
 * Recent Conversations
 ******************************************************/
/* Recent Conversation Header Area. */
#recent-conversation-area {
  padding: inherit;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  z-index: 100; }

/* Recent Conversation Area Element Styling. */
#recent-conversation-area {
  /* Section Title. */ }
  #recent-conversation-area h1 {
    color: #adadad;
    font-size: 17px;
    padding-top: 25px;
    padding-bottom: 19px;
    text-align: center;
    letter-spacing: -0.2px;
    -webkit-font-smoothing: antialiased; }

/* The recent conversations on the sidebar desktop/mobile. */
.recent-conversation {
  border-top: 1px solid #eee;
  background-color: #fff;
  display: inline-block;
  padding: 16px 5px 10px 22px;
  width: 100%; }

/* Recent Conversation element styling. */
.recent-conversation {
  /* Wrapper For The Conversation Details */
  /* Profile Image */
  /* Users Conversation Name */
  /* Post Tag Beside Related Post Name */
  /* Post Name Attached To Convo */ }
  .recent-conversation #conversation-details {
    display: inherit; }
  .recent-conversation #profile-image-wrapper {
    display: inline-grid; }
  .recent-conversation #profile-image {
    width: 42px;
    height: auto;
    border-radius: 100px;
    box-shadow: inset 0px 0px 37px rgba(0, 0, 0, 0.18); }
  .recent-conversation #fullname {
    font-size: 13px;
    letter-spacing: 0.7px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    color: #626673;
    position: relative;
    bottom: 3px;
    left: 6px; }
  .recent-conversation #post {
    font-size: 12px;
    color: #dcdde0;
    letter-spacing: 0.4px;
    position: relative;
    bottom: 8px;
    left: 6px;
    -webkit-font-smoothing: antialiased; }
  .recent-conversation #related-post-name {
    font-size: 12px;
    color: #a4a4a5;
    letter-spacing: 0.4px;
    position: relative;
    bottom: 8px;
    left: 5px;
    -webkit-font-smoothing: antialiased; }

/* Where The Current Conversations Messages Are Displayed */
#messaging-area {
  background: #fafafa;
  padding: 22px 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 14px; }

/* Fill Message Area Completely With Messages. */
#messages {
  height: 100%; }

/* Styling For A Messages Elements. */
.message {
  margin-bottom: 10px;
  /* Message From User Styling */
  /* Triangle Icon Pointing To/From User Who Sent Message. */
  /* The Text Of The Message. */ }
  .message .from {
    background: #e8eaf0;
    border-radius: 4px;
    padding-top: 7px;
    padding-bottom: 7px; }
  .message .from .ss-icon {
    position: absolute;
    margin-left: -12px;
    display: inline-flex;
    color: #e8eaf0;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(91deg);
    font-size: 15px; }
  .message .from .text {
    display: inline-block;
    color: #9098ad;
    padding-left: 15px;
    padding-right: 15px; }

/*# sourceMappingURL=messages.css.map */
