/**
 * The styling for the listings page.
 * @author Team point.
 */
/** Import The Global Variables. */
/**
 * Global scss variables.
 * @author Team point.
 */
/* ========== ========== ========== ========== */
/** Primary Colours. */
/** Typography Styling. */
/* ========== ========== ========== ========== */
body {
  background: #f2f5f7; }

/* Top Image. */
#listing-image-big img {
  object-fit: cover;
  width: 40%;
  height: auto;
  max-height: 600px;
  margin-left: 30%;
  transition: all 0.3s ease; }

#listing-image-big img:hover {
  cursor: pointer !important;
  cursor: hand !important;
  opacity: 0.9; }

#listing-image img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  height: auto;
  transition: all 0.3s ease; }

#listing-image img:hover {
  cursor: pointer !important;
  cursor: hand !important;
  opacity: 0.9; }

/* Main Posting Information Wrapper */
.main {
  margin-top: 0;
  padding-top: 15px;
  background-color: #fff; }

/* Posts Wrapper */
#post-information {
  padding-left: 5px;
  padding-right: 5px; }

/* Posts Wrapper */
#post-information .form-divider {
  margin-top: 18px;
  margin-left: 0;
  width: 100%; }

/* Title Wrapper */
#listing-title {
  margin-top: 13px; }

/* Title */
#listing-title h3 {
  font-family: proximanova-bold, Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 27px;
  text-transform: capitalize; }

/* Posted By Wrapper */
#listing-poster-info {
  margin-top: 7px; }

#listing-poster-info #profile-img {
  height: 55px;
  border-radius: 100px; }

#listing-poster-info #posted-by {
  display: inline-block;
  position: relative;
  top: 14px;
  left: 10px;
  font-size: 0.9em; }

/* Where Poster Lives Details. */
#listing-poster-info #posted-by small {
  color: #cacbcc;
  font-family: proximanova-light, Helvetica, Arial, sans-serif;
  position: relative;
  bottom: 1px; }

.share-buttons {
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-top: 1px solid #ddd; }
  .share-buttons ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .share-buttons ul li {
      display: inline-block;
      margin-right: 0.5em; }
      .share-buttons ul li span {
        display: inline;
        margin: 0.5em; }

.twitter {
  background-color: #77bcf1;
  color: #ffffff;
  border-color: #77bcf1; }
  .twitter:visited {
    color: #ffffff;
    border-color: #77bcf1; }
  .twitter:hover {
    background-color: #ffffff;
    color: #77bcf1;
    border-color: #77bcf1; }

.facebook {
  background-color: #627aac;
  color: #ffffff;
  border-color: #627aac; }
  .facebook:visited {
    color: #ffffff;
    border-color: #627aac; }
  .facebook:hover {
    background-color: #ffffff;
    color: #627aac;
    border-color: #627aac; }

.google-plus {
  background-color: #e36f60;
  color: #ffffff;
  border-color: #e36f60; }
  .google-plus:visited {
    color: #ffffff;
    border-color: #e36f60; }
  .google-plus:hover {
    background-color: #ffffff;
    color: #e36f60;
    border-color: #e36f60; }

/*# sourceMappingURL=listing.css.map */
