/**
 * The styling for the home page.
 * @author Team point.
 */
/**
 * Global scss variables.
 * @author Team point.
 */
/* ========== ========== ========== ========== */
/** Primary Colours. */
/** Typography Styling. */
/* ========== ========== ========== ========== */
/**
 * General Layout.
 */
body {
  background: #fff;
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  transition: all 0.45s ease; }

/* Global Content. */
.main-content {
  -ms-flex-positive: 1;
  flex-grow: 1; }

/* Header Styling. */
.Header {
  margin: 0 auto;
  position: relative;
  padding-top: 35px; }

/* Remove from navbar. */
#header-bar {
  padding-left: 0;
  padding-right: 0; }

/* Background Styling. */
.StripeBackground {
  position: absolute;
  left: 0;
  right: 0;
  transform: skewY(-9deg);
  pointer-events: none; }

/* Background Pattern Styling */
.StripeBackground #header-background-gradient {
  height: 3000px;
  background: linear-gradient(90deg, #5bd486, #b3e895);
  bottom: -310px; }

/* Stripe Styling */
.StripeBackground .stripe {
  position: absolute;
  left: 0;
  right: 0; }

/* Remove Logo Border */
#header-logo {
  border: none; }

/* Patterns On Top Styling. */
.StripeBackground #stripe-1 {
  bottom: -165px;
  width: 26%;
  opacity: .18;
  height: 120px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #bfd4ff, #d2f0f9); }

.StripeBackground #stripe-2 {
  bottom: -285px;
  width: 26%;
  opacity: .32;
  left: 85px;
  height: 128px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  background: linear-gradient(90deg, #0aab88, #3ebc7f); }

.StripeBackground #stripe-3 {
  bottom: -228px;
  width: 30%;
  opacity: .40;
  left: 73%;
  height: 135px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.02);
  background: linear-gradient(90deg, #b6e3a8, #dbf0af); }

.StripeBackground #stripe-4 {
  bottom: 23px;
  width: 66%;
  opacity: 0.25;
  height: 230px;
  background: linear-gradient(90deg, #4dc076 20%, #b3e895); }

/* Right side stripe.   */
.StripeBackground #stripe-5 {
  bottom: 80px;
  width: 375px;
  opacity: 0.1;
  height: 250px;
  background: linear-gradient(90deg, #4dc076 0%, #b3e895); }

/* Large main stripe design. */
.StripeBackground .large-stripe {
  bottom: 23px;
  width: 90%;
  opacity: 0.43;
  height: 230px;
  background: linear-gradient(90deg, #4dc076 20%, #b3e895); }

/* Grey stripe below header. */
.StripeBackground .s1 {
  bottom: -430px;
  width: 100%;
  opacity: .75;
  height: 125px;
  background: linear-gradient(90deg, #fff 20%, #f1f4f7); }

/* Grey stripe below header. */
.StripeBackground .s2 {
  bottom: -550px;
  width: 100%;
  opacity: 0.85;
  height: 155px;
  background: linear-gradient(90deg, #fdfdfd 20%, #f1f4f7); }

/* Grey stripe below header. */
.StripeBackground .s3 {
  bottom: -1500px;
  width: 100%;
  opacity: 0.55;
  height: 255px;
  background: linear-gradient(70deg, #fdfdfd 33%, #f1f4f7); }

/* Grey stripe below header. */
.StripeBackground .s4 {
  bottom: -1580px;
  width: 100%;
  opacity: 0.65;
  height: 105px;
  background: linear-gradient(90deg, #fdfdfd 33%, #f1f4f7); }

/* Default stripe styling */
.StripeBackground .stripe {
  position: absolute;
  top: auto;
  left: 0;
  right: 0; }

/* ========== ========== ========== ========== */
.jumbotron {
  margin-bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  height: auto;
  opacity: 1;
  background: url("/public/assets/images/food-background.svg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

#lander-section-two {
  padding-top: 30px;
  padding-bottom: 50px; }

#lander-section-three {
  margin-top: 106px;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #4e4e4e;
  background-color: #f2f5f7; }

#section-one-skyline {
  width: 100%;
  height: 100px;
  opacity: 0.8;
  left: 0;
  background-image: url("/public/assets/images/home/skyline-landmarks.png"), url("/public/assets/images/home/skyline-generic.png");
  background-repeat: no-repeat,repeat-x;
  background-position: top,bottom;
  background-size: 1280px 126px,1280px 55px; }

#skyline-wrapper {
  margin-top: -150px; }

.hr-divider {
  border-width: 2px;
  border-color: #eee;
  width: 30px;
  margin-top: 12px;
  margin-bottom: 12px; }

#section-two-city-title {
  margin-bottom: 40px; }

.step {
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 175px;
  margin: 0 20px;
  text-align: center; }

.line {
  top: 39px;
  bottom: auto;
  left: 80px;
  right: 80px;
  width: auto;
  height: 2px;
  background-color: #707070;
  position: absolute; }

.timeline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-top: 70px;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.home-icon {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fcf7de;
  background-position: 50%;
  background-repeat: no-repeat; }

.icon-container {
  display: flex;
  position: relative;
  margin: 0 auto 15px;
  bottom: 11px;
  left: 57px; }

/* Get started button on the navbar. */
#header-get-started {
  font-family: proximanova-bold, Helvetica, Arial, sans-serif;
  margin-top: 13px;
  padding: 8px 14px 6px 16px;
  background-color: #fff;
  color: #11927d;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* ======================================== */
/* Navbar Styling
/* ======================================== */
/* Push navbar to front. */
.navbar {
  z-index: 10; }

/* Make the navbar background transparent. */
.navbar-collapse.collapse {
  background-color: transparent; }

/* Default navbar styling. */
.navbar-default {
  background-color: transparent;
  padding-top: 11px;
  border: none;
  border-radius: 0;
  padding-bottom: 10px;
  box-shadow: none; }

/* Links on the navbar. */
.navbar-default .navbar-nav > li > a {
  color: #0a7261;
  -webkit-font-smoothing: initial;
  font-family: proximanova-regular, Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0.72px;
  transition: all 0.45s ease; }

/* Links on the navbar. */
.navbar-default .navbar-nav > li > a:hover {
  color: #0a7261;
  opacity: 0.8;
  transform: translateY(-0.35px); }

.side-bar-link .side-bar-link-text {
  font-size: 14px !important;
  padding-left: 10px !important; }

/* Sidebar Button When Navbar is collapsed. */
.navbar-default .navbar-toggle .icon-bar {
  background: #0a8b75;
  -webkit-transition: all 1.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.navbar-toggle {
  padding-top: 25px;
  padding-right: 28px;
  padding-left: 10px;
  padding-bottom: 40px;
  margin: 0;
  z-index: 1000; }

/* Center align the logged out links. */
#logged-out-links {
  margin-top: 8px;
  transition: all 0.45s ease; }

/* Resize logo. */
#header-logo {
  width: 226px; }

/* Padding for the register/sign in buttons. */
.navbar-right {
  padding-top: 2px; }

/* Sign in link. */
#header-sign-in {
  text-transform: capitalize;
  font-size: 15px;
  padding: 2px 12px 0 0;
  margin: 20px 14px 0 0;
  font-family: proximanova-regular, Helvetica, Arial, sans-serif;
  letter-spacing: 0.6px;
  border-right: 1px solid #95da85; }

/* Header */
#header-sign-in .ss-icon {
  position: relative;
  top: 1px;
  left: 2px;
  font-size: 12px; }

/* Title Section. */
#title-section {
  margin-top: 75px; }
  #title-section .container {
    position: relative;
    width: 100%; }
  #title-section h1 {
    text-align: center;
    font-size: 42px;
    color: #fff; }
  #title-section #typing-text {
    color: #fff; }

/* The arrow for the Start Here link. */
#moving-arrow {
  position: absolute;
  bottom: -8px;
  opacity: 0.24;
  left: 47px;
  font-size: 16px; }

/* The message under the title. */
#title-message {
  text-align: center;
  padding-top: 9px;
  opacity: 0.90;
  font-size: 28px;
  letter-spacing: 0.4px; }

/* Main intent button on the landing page. */
#title-action-button {
  color: #0a806c;
  font-family: proximanova-semibold, Helvetica, Arial, sans-serif;
  letter-spacing: 1.2px;
  background-color: #fff;
  padding: 12px 33px 11px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.45s ease; }

#title-action-button:hover {
  color: #0a7261;
  opacity: 0.8;
  transform: translateY(-0.35px); }

#action-button-wrapper {
  margin-top: 30px;
  text-align: center; }

/* ======================================== */
/* Problem Statement Section
/* ======================================== */
/* Problem Statement Section Elements */
#problem-statement {
  margin-top: 320px; }
  #problem-statement h3 {
    font-size: 19.5px;
    opacity: 0.83;
    padding-bottom: 6px;
    color: #b4bac3; }
  #problem-statement h1 {
    font-size: 44px;
    padding-bottom: 4px;
    margin-bottom: 16px;
    border-bottom: 2px solid #f1f7fb; }
  #problem-statement p {
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 0.3px;
    padding: 0 15px 0 7px; }
  #problem-statement #city-icon {
    height: 40px;
    margin-bottom: 6px;
    margin-right: 2px; }

/******
Section Quote
******/
.stats-area {
  background: #f4f4f4;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin: 30px 0 60px;
  top: -165px; }

.stats-area-photo-food {
  background-image: url(/public/assets/images/food-background-colour.svg);
  opacity: 0.7;
  background-position: 10% 30%;
  min-height: 200px; }

.stats-area-photo {
  width: 100%;
  min-height: 160px;
  background-position: 139% 354%; }

.Quote {
  padding: 66px; }

blockquote {
  border: none; }

.Quote {
  margin: 0;
  padding: 40px;
  position: relative;
  z-index: 5;
  color: #fff; }

.Quote h2 {
  margin: 2px 0 8px 0px;
  font-family: proximanova-semibold, Helvetica, Arial, sans-serif;
  letter-spacing: 0.4px; }

.Quote p {
  position: relative;
  font-style: italic;
  font-size: 2.1em;
  line-height: 1.6em;
  margin-bottom: 0; }

.Quote--kickstarter {
  position: relative;
  padding-top: 36px;
  background: linear-gradient(90deg, #5bd486, #7edd76); }

.Quote--kickstarter:before {
  content: '';
  display: block;
  width: 100%;
  height: 95px;
  background: url(/public/assets/images/stats.svg);
  opacity: 0.3;
  background-size: 100% 100%;
  position: absolute;
  top: -95px;
  left: 0; }

#wasted-title {
  opacity: 0.6;
  font-size: 17px;
  letter-spacing: 0.2px;
  display: block;
  margin: auto;
  text-align: center; }

/**
 * About Section
 */
#about-section {
  margin-bottom: -110px;
  background-color: #f2f5f7; }

section.flow {
  padding-top: 20px;
  background: #605ea1;
  background-image: -webkit-radial-gradient(circle farthest-corner at right bottom, #ffffff 0, #fbfbfb 28%, #f1f4f6 57%, #ffffff 100%);
  background-image: radial-gradient(circle farthest-corner at right bottom, #ffffff 0, #fbfbfb 28%, #f1f4f6 57%, #ffffff 100%); }

section.flow .content {
  max-width: 1000px !important;
  padding-bottom: 75px; }

.flow .content {
  position: relative;
  max-width: 952px;
  margin: 0 auto; }

.flow header {
  margin-bottom: 35px;
  position: relative;
  padding: 0 40px 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  text-align: center; }

.flow .text-center p {
  color: #848f91;
  letter-spacing: 0.4px; }

.flow header p {
  font-size: 17px;
  letter-spacing: 0.4px;
  color: #acb2b7; }

section.flow header {
  border-bottom-style: none !important; }

.steps-next-icon {
  right: -3%;
  top: 55px;
  position: absolute;
  color: #e0e4e8; }

/**
 * Benefits Section
 */
#benefits-section {
  position: relative;
  top: 55px; }
  #benefits-section div {
    padding-top: 55px; }
  #benefits-section #first-benefit {
    border-right: 2px solid #f6f7f8;
    padding-bottom: 70px; }
  #benefits-section #second-benefit {
    padding-bottom: 70px; }

/**
 * Footer/Partner section.
 */
#footer-section {
  background: #f6f9fc;
  position: relative;
  top: 54px;
  padding-bottom: 50px; }

/* Move navbar up when collapsing. */
@media only screen and (max-width: 768px) {
  #second-benefit {
    border-top: 2px solid #f6f7f8;
    padding-left: 15px !important;
    padding-right: 8%; }

  #first-benefit {
    border: none !important; }

  .navbar-default {
    margin-top: -7px; }

  .flow header {
    margin-bottom: 10px; }

  #title-message {
    font-size: 25px; }

  #title-section h1 {
    font-size: 38px; }

  .stats-area {
    top: inherit; }

  #problem-statement {
    margin-top: 187px; }

  .s2 {
    height: 0 !important; }

  .flow img {
    margin-bottom: 15px !important;
    margin-top: 80px !important; }

  .flow header {
    margin-bottom: -80px; }

  #first-step {
    right: 49%;
    top: 360px !important;
    margin: auto;
    position: absolute;
    color: #e0e4e8;
    font-size: 20px; }

  #second-step {
    right: 49%;
    top: 375px !important;
    margin: auto;
    position: absolute;
    color: #e0e4e8;
    font-size: 20px; }

  #meal-io {
    padding-top: 10px;
    padding-bottom: 15px; }

  #meal-io img {
    top: 0px !important; }

  #food-fall {
    padding-bottom: 10px; }

  #refigidate {
    padding-bottom: 7px; } }
/* Make sure the navbar doesn't break, prematurely. */
@media only screen and (max-width: 850px) {
  #logged-out-links {
    margin-left: -20px; }

  #header-get-started {
    font-size: 13px; }

  #problem-statement h1 {
    font-size: 35px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #footer-links {
    text-align: center; }

  #footer-links hr {
    display: none; }

  #footer-links .footer-heading {
    padding-bottom: 6px; }

  #title-section h1 {
    line-height: 36px;
    padding-bottom: 5px; }

  #title-section {
    margin-top: 42px; }

  #typing-text {
    display: block; }

  .Quote {
    padding: 28px; }

  #title-message {
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px; }

  #problem-statement h1 {
    font-size: 29px; }

  .flow p {
    padding-left: 15px;
    padding-right: 15px; }

  #first-image {
    margin-bottom: 5px !important; }

  #about-summary {
    padding-top: 7px;
    padding-left: initial;
    padding-right: initial; }

  #stats {
    height: 575px; }

  #logged-out-links li {
    padding: 0 0; }

  #first-step {
    top: 375px !important; }

  #second-step {
    top: 395px !important; } }
@media only screen and (max-width: 330px) {
  /* Quote padding changed to fit smaller screens. */
  .Quote {
    padding: 18px !important;
    text-align: center; }

  /* Fix metro vancouver title. */
  #problem-statement h1 {
    font-size: 26px; }

  #first-step {
    top: 395px !important;
    right: 47%; }

  #second-step {
    top: 415px !important;
    right: 47%; }

  /* Resize the wasted title in the blockquote. */
  #wasted-title {
    font-size: 15px; }

  /* Resize the updating stats title. */
  .Quote--kickstarter h2 {
    font-size: 24px;
    margin-bottom: 3px; } }

/*# sourceMappingURL=home-out.css.map */
